service: LambdaClima
frameworkVersion: '2'

provider:
  name: aws
  runtime: python3.6
  lambdaHashingVersion: 20201221

stage: dev
region: us-east-1
role: arn:aws:iam::803179521935:role/ServerLessDam

functions:
  ApiClima:
    handler: lambda_handler.lambda_handler
    events:
      - http:
          path: LambdaClima/crea
          method: post

